{% extends 'otree/WaitPage.html' %}
{% load otree %}


{% block content %}
 
 <script>
 setTimeout( 
 function(){
 alert('Somos el equipo E2LabUP. Hemos notado el tiempo que te ha tomado en la seccion actual del experimento y queremos saber si tienes algun inconveniente, duda o consulta.');
 },
 & C:/Users/fredi/AppData/Local/Programs/Python/Python37/python.exe c:/Users/fredi/Desktop/python/e2labup/bertrandd/avance_popup.py*1000) // & C:/Users/fredi/AppData/Local/Programs/Python/Python37/python.exe c:/Users/fredi/Desktop/python/e2labup/bertrandd/avance_popup.py segundos
 </script>
 
 
 <script>
 setTimeout( 
 function(){
 alert('Somos el equipo E2LabUP. No te preocupes por el tiempo de espera. Es parte del experimento. En unos momentos, podras avanzar a la siguiente seccion.');
 },
 3*1000) // 3 segundos
 </script>
 
{% endblock %}
 
