{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
    Entraste desde un dispositivo móvil
{% endblock %}


{% block content %}
 
 <script>
 setTimeout( 
 function(){
 alert('Somos el equipo E2LabUP. Hemos notado el tiempo que te ha tomado en la seccion actual del experimento y queremos saber si tienes algun inconveniente, duda o consulta.');
 },
 6*1000) // 6 segundos
 </script>
 

    <p>Solo se puede participar usando una computadora de escritorio o laptop.</p>

{% endblock %}
