{% extends "global/Page.html" %}
{% load otree %}
 
{% block title %}
    Set Your Price
{% endblock %}
 
{% block content %}

 <script>
 setTimeout( 
 function(){
 alert('Somos el equipo E2LabUP. Hemos notado el tiempo que te ha tomado en la seccion actual del experimento y queremos saber si tienes algun inconveniente, duda o consulta.');
 },
 6*1000) // 6 minutos
 </script>
 


    {% formfields %}    

<p>{% next_button %}</p>

    {% include Constants.instructions_template %}

{% endblock %}
