{% load otree %}
<script>
    setTimeout(
    function () {
    alert("Hemos notado el tiempo que te ha tomado en las instrucciones y queremos saber si tienes algún inconveniente, duda o consulta. Escríbenos por WhatsApp o Correo.");
 },
 6*1000 // 6 seconds
    )
    </script>


<div class="instructions well well-lg" style="">

    <h3>
        Instructions
    </h3>
    <p>
        You have been randomly and anonymously paired with another participant.
        Each of you will represent a firm. Each firm manufactures one unit of
        the same product at no cost.
    </p>
    <p>
        Each of you privately sets your price, anything from 0 to {{ Constants.maximum_price }}.
        The buyer in the market will always buy one unit of the product at the
        lower price. In case of a tie, the buyer will buy from one of you at
        random. Your profit is your price if your product is sold and zero
        otherwise.
    </p>
</div>
